 body {
    font-family: Arial;
    padding: 10px;
    margin: 0;
    
    /* IMAGE UNSPLASH NOIX DE CAJOU EN USINE */
    background: url('background-cajou..jpeg') no-repeat center fixed;
    background-size: cover;
}

.bloc {
    background: rgba(255, 255, 255, 0.92); /* Blanc avec 92% d'opacité */
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    backdrop-filter: blur(3px); /* Effet flou derrière les blocs */
}

.section-bloc {
    background: rgba(255, 255, 255, 0.95);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border-left: 4px solid #007bff;
    backdrop-filter: blur(2px);
}

button {padding: 8px 12px; margin: 5px; border: none; border-radius: 5px; cursor: pointer; color: white; font-weight: bold;}
input, select {padding: 8px; margin: 5px; border-radius: 4px; border: 1px solid #ccc;}
.mange {color: orange; font-weight: bold;}
.present {color: green; font-weight: bold;}
.cacher {display: none;}
#totalGeneral {
    font-size: 18px; font-weight: bold; text-align: center; 
    padding: 10px; background: rgba(0,123,255,0.9); 
    color: white; border-radius: 5px;
}
h2 {color: #0056b3; text-shadow: 1px 1px 2px rgba(0,0,0,0.1);}

.ligne-outils { 
    display:flex; 
    gap:20px; 
    flex-wrap: wrap; /* pour que ça passe en dessous sur téléphone */
}
.ligne-outils .bloc { 
    flex:1; 
    min-width: 300px; /* chaque bloc fait au moins 300px */
}